{% extends "base.html" %}    
{% block content %}
<h2 align="center">ФОТОГАЛЛЕРЕЯ</h2>
<hr>
<!-- <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'> -->
<section id="photos">
</section>
<script type="text/javascript">
	function getRandomSize(min, max) {return Math.round(Math.random() * (max - min) + min);}
var width=300;
var height;
var allImages="";
{% for imgs in images %}
	widthRND = width * getRandomSize(1, 2);
	// height =  getRandomSize(200, 400);
	allImages += '<img src="{{MEDIA_URL}}{{imgs.imageDog.url}}" alt="pretty kitty" width=' + widthRND +'>';
{% endfor %}
$('#photos').append(allImages);
</script>
{% endblock %}