{% extends "base.html" %}    


{% block content %}
    {% for n in news %}
     <div class="well">
    	<div class="row">
        <div class="container-fluid">
    	 <div class="col-md-3">
    	  <div class="thumbnail">
    		  <img src="{{MEDIA_URL}}{{n.image.url}}" width="320">
    	  </div>
    	</div>
    	<div class="col-md-6" align="left">
	    	<b>{{n.title}}</b>
	    	<p>{{n.body}}</p>
           <div class="col-md-14" align="right">
            <p>{{n.timefield}}</p>
         </div>
    	</div>

    	</div>

        </div>
      </div>	
    {% endfor %}
{% endblock %}