{% extends "base.html" %}    


{% block content %}
    {% for n in news %}
     <div class="well">
    	<div class="row">
    	 <div class="col-xs-5">
    	  <div class="thumbnail">
    		  <img src="{{MEDIA_URL}}{{n.image.url}}" width="100%">
    	  </div>
    	</div>
    	<div class="col-xs-5" align="left">
	    	<b>{{n.title}}</b>
	    	<p>{{n.body}}</p>
    	</div>
      <div class="col-xs-2" align="right">
        <p>{{n.timefield|date}}</p>
      </div>
    	</div>
      </div>	
    {% endfor %}
{% endblock %}