<!DOCTYPE html>

<html lang="ru">
<head>
    <title>For Mary - питомник лабрадоров ретривиров и кавалер кинг чарльз спаниелей</title>
    {% load static %}
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="/media/style.css" >

 </head>
<body>
<div class="container-fluid">
    <div class="row">
     <div class="col-md-8 col-md-offset-2">
      <a href="/"> <img src="/media/header.webp" class="img-responsive" width="100%"></a>   
        <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!--Название сайта и кнопка раскрытия меню для мобильных-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!--Само меню-->
            <div class="collapse navbar-collapse" id="menu">
              <ul class="nav navbar-nav">
                <li><a href="/">ГЛАВНАЯ</a></li>
                {% for type in dogType %}
                    <li><a href="/{{type.typeSlug}}/">{{type.typeName|upper}}</a></li>
                {% endfor %}
                <li><a href="/puppies/">ЩЕНКИ</a></li>
                <li><a href="/history/">Наше разведение</a></li>
                <li><a href="/photos/">ФОТО</a></li>
                <li><a href="/contacts/">КОНТАКТЫ</a></li>
              </ul>
            </div> 
            </div>
        </nav>
    <div class="thumbnail" id="back">
    {% block content %}
    {% endblock %}
    </div>
    <div align="center">
    <img src="/media/cav.png" class="img-responsive" width="50%">
    </div>
</div>
</div>
</body>
</html>