<!DOCTYPE html>

<html lang="ru">
<head>
    <title>For Mary - питомник лабрадоров ретривиров и кавалер кинг чарльз спаниелей</title>
    {% load static %}
    {% load bootstrap3 %}
    <script src="{% bootstrap_jquery_url %}"></script>
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="/media/style.css" >

 </head>
<body>

<div class="container">  
<!--     <h1>Привет, я - Женька. Разважу сабак!</h1>
    <p>Те что ниже - всё о том:</p>
 -->
<div class="row">
 <div class="col-lg-1"></div>
 <div class="col-lg-10">
           <a href="/"> <img src="/media/header.webp" class="img-responsive" width="100%"></a>   
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <!--Название сайта и кнопка раскрытия меню для мобильных-->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!-- <a class="navbar-brand" href="/">For Mary</a> -->
                </div>

                <!--Само меню-->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <b>
                  <ul class="nav navbar-nav">
                    <li><a href="/">ГЛАВНАЯ</a></li>
                    {% for type in dogType %}
                        <li><a href="/{{type.typeSlug}}/">{{type.typeName|upper}}</a></li>
                    {% endfor %}
<!--                     <li><a href="/labradors/">ЛАБРАДОРЫ</a></li>
                    <li><a href="/cavalers/">КАВАЛЕРЫ</a></li> -->
                    <li><a href="/puppies/">ЩЕНКИ</a></li>
                    <li><a href="/history/">Наше разведение</a></li>
                    <li><a href="/photos/">ФОТО</a></li>
                    <li><a href="/contacts/">КОНТАКТЫ</a></li>
                  </ul>
                </b> 
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
<!--     <nav>
        <a href="/">Главная</a>
        <a href="/labradors/">Лабрадоры</a>
        <a href="/cavalers/">Кавалеры</a>
        <a href="/puppies/">Щенки</a>
        <a href="/history/">Наше разведение</a>
        <a href="/photos/">ФОТО</a>
        <a href="/contacts/">Контакты</a>
    </nav> -->

    <div class="col-lg-12" id="back"> 
    {% block content %}
    {% endblock %}
    </div>
    <div align="center">
    <img src="/media/cav.png" class="img-responsive" width="50%">
    </div>
 </div>
</div>
    
</body>
</html>